<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492016775128-lukhkdvum3ja2vc1o6hb79nhfiqadhgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492016775128-lukhkdvum3ja2vc1o6hb79nhfiqadhgo</string>
	<key>API_KEY</key>
	<string>AIzaSyCk7mD2U3V8USYskk69TU40NHS8Yhst9s4</string>
	<key>GCM_SENDER_ID</key>
	<string>492016775128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatMat</string>
	<key>PROJECT_ID</key>
	<string>chatmat-97ea2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmat-97ea2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492016775128:ios:5af93407fed661c6924cad</string>
</dict>
</plist>